<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>روزمرگی</title>
</head>
<body>
    <center>
        {% for article in articles %}
    <article>
        <img src="{{article.thumbnail.url}}" alt="article image" width="500px" height="500px">
        <a href="{{article.slug}}"><h1>{{article.title}}</h1></a>
        <small>{{article.published}}</small>
        <p>{{article.description}}</p>
    </article>
    {% endfor %}
    </center>
</body>
</html>